<main>
  <div class="input-holder">
    <div class="input-form__container">
      <input id="input_form" type="text" class="input-form__input"/>
      <div id="lets-go" class="lets-go"><img src="./assets/arrow.svg" height="40"></div>
      <a class="feeling-lucky" href="https://en.wikipedia.org/wiki/Special:Random">
        <img src="./assets/dice.svg" height="30">
      </a>
    </div>
  </div>
  <div id="autocomplete"></div>
  <a class="code-review" href="https://github.com/remo-zaros-fcc-challenges/wikipedia-viewer">
    <img src="./assets/github-mark.png">
  </a>
</main>
