<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  </head>
  <body class="page">
   <% include ./app/partials/header %>
   <% include ./app/partials/content %>
   <% include ./app/partials/footer %>
  </body>
</html>
